.card
{
    width: 100% !important;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1607843137254902 );
    padding: 15px;
    padding-bottom: 20px;
}

.card-title
{
    margin: 20px 0;
}

.card-title a
{
    text-decoration: none;
    color: #054175;
    font-weight: normal;
}

.card-body
{
    padding-left: 0;
    padding-right: 0;
}

.card-text
{
    color: #444444;
}