#hero
{
    background-image: url('../../public/images/hero.png');
    background-size: cover;
    background-position: center center;
}

#hero .container
{
    height: 450px;
    position: relative;
}

#hero h1{
    color: #fff;
}

.services-block
{
    display: block;
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.services-list
{
    list-style: none;
    padding: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1607843137254902 );
    border-radius: 5px;
}

.services-list li
{
    display: inline-block;
    width: calc(100% / 4);
    height: 143px !important;
    border: 1px solid #dddddd;
    padding: 30px;
    float: left;
    background: #fff;
    text-align: center;
}

.services-list li:nth-child(2)
{
    border-left: none;
    border-right: none;
}

.services-list li:first-child
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.services-list li:last-child
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

.services-list .service-block .block-img
{
    width: 36px;
    height: auto;
}

.services-list .service-block .block-text
{
    display: block;
    font-size: 14px;
    margin-top: 15px;
}

